
.open-sans-normal {
   font-family: "Open Sans", serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings:
     "wdth" 100;
 }
 .btn-primary
 {
   background-color: #FD6E0A;
   color: white;
   padding: 15px 20px;
   border:0;
   border-color: non;
   border-radius: 5px;
   font-weight: 800;
   cursor: pointer;
 }
 nav{
   display:flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
 }
 .text-style{
   color: #FD6E0A;
 }
 .nav-titel
 {
   font-size:45px ;
   font-weight: 800;
 }
 .dark-2{
   color:#474747;
 }
 nav ul{
   display: flex;
   gap: 25px;
   align-items: center;
 }
 nav ul li{
   list-style: none;
 }
 nav ul li a{
   text-decoration: none;
   font-size: 20px;
   
 }
 .banner
 {
   display: flex;
   justify-content: space-between;
   margin: 0px 25px 0px 150px;
 }
 .banner-image1
 {
   width: 391px;
   height: 452px;
 }
 .banner-text1{
   font-size: 30px;
   font-weight: semi-bold;

 }
 .banner-text2{
   font-size: 53px;
   font-weight: 800;
 }
 .banner-text3{
   font-size: 18px;
   font-weight: 400;
 }
 .banner-text{
   width: 585px;
   height:356px ;
 }
 .header1
 {
   background-image:url("../images/developer.png") ,url("../images/header_bg.png");
   background-repeat: no-repeat;
   background-position: top left ,bottom right;
    background-size: 75px ,694px 347px ;
    
 }
 /*------------- second page-------------- */
 .section-title{
   font-size: 35px;
   font-weight: 800;
 }
 .dark-1
 {
  color: #1E1E1E;
 }
 .dark-3{
  color: #757575;
 }
 .about
 {
  border-radius:10px ;
   text-align: center;
   padding: 130px 150px;
  
   
 }
 main
 {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
 }
 .secondery-bg
 {
  background-color: #F9EDE5;
 }
 .section-description
 {
  font-size: 18px;
  font-weight: regular;
 }
 .about-item
 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
 }
 .what-i-do-titel{
  font-size: 35px;
  font-weight: 800;
 }
 .what-i-do-des{
  font-size: 18px;
  font-weight: regular;
 }
 .what-i-do
 {
  border: 10px;
  text-align: center;
  padding: 130px 150px;
  margin: 0 auto;
 }
 img{
  width: 44px;
  height: 44px;
 }
 .what-i-do-items
 {
  display: flex;
  justify-content:center;
  align-items: flex-start;
  gap:50px;
  margin-top: 50px;
  text-align: left;
 }
 .what-i-do-item-h2
 {
  font-size: 20px;
  font-weight: 800;
 }
 .what-i-do-item-p
 {
  font-size: 16px;
  font-weight: regular;
 }
 .what-i-do-item
 {
  border-radius: 10px;
  background-color: #f2ebe6;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
 }
 .my-projects
 {
  border-radius:10px ;
   text-align: center;
   padding: 130px 150px;
   
 }
 .both-section{
  display: flex;
  justify-content:space-evenly;
  gap: 50px;
  text-align: left;
 }

 
 .copy-right
{
  display: flex;
  justify-content: center;
} 
.contract
{
display: flex;
  justify-content: space-between;
  gap: 65px;
  padding: 50px;
  
}
.contract1
{
  width: 50%;
}
.contract2{
  text-align: left;
  width: 50%;
}
.contract2-input-section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fef8f3; /* Light background */
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}
textarea {
  height: 120px;
  resize: none;
}


 
